<!DOCTYPE html>
<html>
	<head>
		<title><% title %></title>

		<link rel='stylesheet' href="/Semantic-UI-CSS-master/semantic.min.css" />
		<script src='/javascripts/jquery-3.4.1.min.js'></script>
		<script src='/Semantic-UI-CSS-master/semantic.min.js'></script>

		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/javascripts/menu.js"></script>
        
        <script src="/javascripts/register.js"></script>
	</head>
	<body class="uninverted">
        <% include menu.ejs %>
        <div class="ui uninverted segment" style="margin: 30px auto; max-width: 400px;">
            <form action="profile" method="post" class="ui uninverted form">
                    <h4 class="ui uninverted dividing header">계정</h4>
                    <div class="field">
                        <div class="two fields">
                            <div class="required disabled field">
                                <label for="id">아이디</label>
                                <input type="text" value="<%= user.id %>" name="id" id="register-id">
                                <% if (message.id) { %>
                                    <div class="ui pointing red basic label" id="no-id">
                                        <%= message.id %>
                                    </div>
                                <% }; %>
                            </div>
                            <div class="required field">
                                <label for="password">비밀번호</label>
                                <input type="password" placeholder="비밀번호" name="password" id="register-password">
                                <% if (message.password) { %>
                                    <div class="ui pointing red basic label" id="no-id">
                                        <%= message.password %>
                                    </div>
                                <% }; %>
                            </div>
                        </div>
                    </div>
                    <h4 class="ui uninverted dividing header">기본 정보</h4>
                    <div class="field">
                        <div class="fields">
                            <div class="four wide required field">
                                <label for="name">이름</label>
                                <input type="text" placeholder="<%= user.name %>" name="name" id="name">
                                <% if (message.name) { %>
                                    <div class="ui pointing red basic label" id="no-id">
                                        <%= message.name %>
                                    </div>
                                <% }; %>
                            </div>
                            <div class="twelve wide required field">
                                <label for="email">이메일</label>
                                <input type="email" placeholder="<%= user.email %>" name="email" id="email">
                                <% if (message.email) { %>
                                    <div class="ui pointing red basic label" id="no-id">
                                        <%= message.email %>
                                    </div>
                                <% }; %>
                            </div>
                        </div>
                    </div>
                    <h4 class="ui uninverted dividing header">학적 정보</h4>
                    <div class="field">
                        <div class="three fields">
                            <div class="disabled field">
                                <label for="school">학교 이름</label>
                                <input type="text" value="<%= user.school_first %>" placeholder="학교 이름" name="school" id="school">
                            </div>
                            <div class="disabled field">
                                <label for="stype">&nbsp;</label>
                                <select name="stype" id="stype" class="ui fluid dropdown">
                                    <option value="<%= user.school_last %>"><%= user.school_last %></option>
                                    <option value="초등학교">초등학교</option>
                                    <option value="중학교">중학교</option>
                                    <option value="고등학교">고등학교</option>
                                    <option value="대학교">대학교</option>
                                </select>
                            </div>
                            <div class="disabled field">
                                <label for="grade">학년</label>
                                <select name="grade" id="grade" class="ui fluid dropdown">
                                    <option value="<%= user.grade %>"><%= user.grade %></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" tabindex="0" name="dark" id="dark" class="hidden item">
                            <label for="dark">
                                <p class="ui uninverted tiny header">다크 모드</p>
                            </label>
                        </div>
                    </div>
                    <input type="submit" value="변경하기" class="ui uninverted fluid button">
                </div>
            </form>
        </div>
	</body>
</html>
